label {
    display: block;
  }
  
  input, select, textarea {
    width: 100vh;
    background-color: #01647a;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  input[type='radio'], input[type='checkbox'] {
    width: unset
  }

  body {
    background-color: #69e3ff;
    color: #000000;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%
  }

  h1, p {
    text-align: center;
  }

  h1 {
    font-size: 30px;
    text-transform: uppercase;
  }

  legend {
    font-style: oblique ;
    font-weight: bold;
    font-size: 1.1em;
  }

fieldset {
  border: none;
  padding-top: 25px;
  padding-bottom: 50px;
}

input[type='text'], input[type='number'], input[type='email'], select {
  min-height: 2em;
}

.last {
  margin-bottom: 15px;
}

.subtitle {
  margin-bottom: 5px;
}

textarea {
  min-height: 5em;
}

input[type='submit'] {
  width: 50%;
  height: 2em;
  text-align: center;
  margin-left: 25%;
  font-size: 1.1em;
}

.first {
  border-bottom: 5px solid #001b33;
}

input[type='submit']:hover {
  background-color: #025728;
}

::placeholder{
  color: #b0b0b0;
}